body {
    color:lightgray;
    font-size:87.5%;
    font-family: Arial;
    line-height: 1.5;
    text-align: left;
}

a{
    text-decoration: none;
}

/*
a:link , a:visited{
    
}
a:hover , a:active{
    
}
*/

.body{
    margin: 0 auto;
    width: 70%;
    clear: both;
}

.pageheader nav {
    background-color: aliceblue;
    height: 60px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    
}

.pageheader nav ul {
    list-style: none;
    margin: 0 auto;
}

.pageheader nav ul li {
    float : right;
    display: inline;
    
}

.pageheader nav a:link, .pageheader nav a:visited {
    display: inline-block;
    padding: 20px 25px;
    height : 40px;

}

.pageheader nav a:hover, .pageheader nav a:active, .pageheader nav a:link, .pageheader nav .active a:visited{
    color:black;
}

.mainheader nav ul li a {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.mainsection {
    line-height: 25px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.content {
    width: 70%;
    float: left;
}

.firstcontent , .secondcontent , .thirdcontent {
    background-color: lightgrey;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 3% 5%;
    margin-top: 3%;
    color: black;
    
}

.info {
    font-style: italic;
    color:black;
    font-size: 85%;
}

.verse1-side , .verse2-side ,.verse3-side {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    width: 21%;
    float: left;
    background-color: lightgrey;
    margin: 2% 0 0 3%;
    padding: 2% 3%;
    color: black

}

.mainFooter{
    width: 100%;
    height:40px;
    float: left;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: lightgrey;
    margin: 4% 0;
}

.mainFooter p {
    width: 92%;
    margin: 10px auto;
    color: black;
}

@media only screen and (min-width : 150px) and (max-width: 600px){
    
    .body {
        width: 90%;
        font-size: 95%;
    }
    
    .pageheader nav {
    background-color: aliceblue;
    height: 160px;

   
}

    .pageheader nav ul {
        padding-left: 0;
    }

    .pageheader nav ul li {
        width: 100%;
        text-align: center;
    
    }

    .pageheader nav a:link, .pageheader nav a:visited {
        display: block;
        padding: 10px 25px;
        /*height : 20px;*/
    }


    .content {
        width: 100%;
        float: left;
        margin-top: 2%;
    }

    .firstcontent , .secondcontent , .thirdcontent {
        background-color: white;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        padding: 3% 5%;
        margin-top: 2%;
    
    }


    .verse1-side , .verse2-side ,.verse3-side {
        width: 94%;
        float: left;
        background-color: white;
        margin: 2% 0 2% 0;
        padding: 2% 3%;

    }
}